/*RESET CSS*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline;}
html{line-height:1;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th,td{text-align:left; font-weight:normal;vertical-align:middle;}
q,blockquote{quotes:none;}
q:before,q:after,blockquote:before,blockquote:after{content:"";content:none;}
a img{border:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block;}

/*CUSTOM CSS*/
body{font-family:Roboto, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}

.title{height:80px;width:100%;position:fixed;z-index:19861107;text-align:center;font-size:20px;color:#333;line-height:80px;text-shadow:0 1px 2px 2px #FFF;background:#FEFEFE;box-shadow:0 4px 2px 0 #666;}


/*SCROLL PAGE MAIN CSS*/
.scroll_page{position:absolute;top:0;z-index:19861106;width:100%;height:100%;overflow:hidden;}
.scroll_page .page{width:100%;height:100%;margin:0 auto;position:relative;color:#FFF;overflow:hidden;}
.scroll_page .page .control{position:absolute;width:100%;height:50px;bottom:30px;left:0;right:0}
.scroll_page .page .control a{position:absolute;width:50px;height:50px;line-height:50px;display:inline-block;border-radius:25px;color:#999;background:#FFF;font-size:12px;text-transform:uppercase;text-align:center;opacity:0.2;}
.scroll_page .page .control a:hover{opacity:1;}
.scroll_page .page .control a.prev{left:20px;bottom:0;}
.scroll_page .page .control a.next{right:20px;bottom:0;}
.scroll_page .page .content{margin:120px auto;width:300px;height:80px;background:#EFEFEF;border:1px solid #FEFEFE;box-shadow:0 0 3px 1px #DDD;padding:50px;text-transform:uppercase;color:#333;display:none;}
.scroll_page .first{background:#26A8B8;}
.scroll_page .second{background:#0C616B;}
.scroll_page .third{background:#906894;}
.scroll_page .fourth{background:#8F8C2A;}
.scroll_page .fifth{background:#596B47;}
